/*--------------------------------------------------------------
10. Icon box
----------------------------------------------------------------*/
.st-iconbox.st-style1 {
    text-align: center;
    padding: 50px 30px;
    border-radius: 3px;
    transition: all 0.4s ease;
    border: 1px solid $base-color4;
    background-color: $dark-color4;

    &:hover {
        .st-iconbox-icon {
            i {
                color: $base-color1;
            }
        }
    }

    .st-iconbox-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin: auto;
        font-size: 50px;
        margin-bottom: 28px;
        transition: all 0.4s ease;

        i {
            color: $base-color4;
            transition: all 0.4s ease;
        }
    }

    .st-iconbox-title {
        line-height: 1.2em;
        font-size: 24px;
        margin-bottom: 16px;
        transition: all 0.4s ease;
    }

    .st-iconbox-text {
        margin-bottom: -6px;
    }

}