/*--------------------------------------------------------------
24. Testimonial
----------------------------------------------------------------*/

.st-testimonial.st-style1 {

    &:hover {
        .st-testimonial-name {
            color: $base-color1;
        }

        .st-testimonial-text {
            border-color: $base-color1;

            &::after {
                border-color: $base-color1;
            }
        }

        .st-testimonial-img {
            border-color: $base-color1;

            &:before {
                background-color: $base-color1;
            }
        }
    }

    .st-testimonial-text {
        position: relative;
        border-radius: 3px;
        transition: all 0.4s ease;
        background-color: $base-color4;
        padding-inline: 20px;
        padding-block-start: 40px;
        padding-block-end: 60px;
        border: 1px solid $base-color4;
        margin-bottom: 30px;

        p {
            margin-top: -6px;
            margin-bottom: -6px;
            position: relative;
            z-index: 1;
        }
    }

    .st-testimonial-info {
        display: flex;
        align-items: center;
        margin-bottom: -4px;
        gap: 20px;
    }

    .st-testimonial-img {
        position: relative;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 2px solid $base-color4;
        transition: all .3s linear;

        &:before {
            transition: all .3s linear;
            position: absolute;
            content: "";
            height: 40px;
            width: 2px;
            background-color: $base-color4;
            top: -40px;
            left: 50%;
            z-index: -1;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .st-testimonial-name {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 4px;
        transition: all .3s linear;
    }

    .st-testimonial-designation {
        line-height: 1.3em;
    }
}