// Base Color
$base-color1: #51BFBD;
$base-color2: #635E79;
$base-color3: #FFFFFF;
$base-color4: #03012C;
$text-color:#B0AEB9;


// Dark Color
$dark-color1: #151b29;
$dark-color2: #070d1b;
$dark-color3: #0a101e;
$dark-color4: #062444;
$dark-color5: #3f4551;